services:
  # PostgreSQL Database
  - type: pserv
    name: smart-airbnb-db
    env: docker
    plan: free
    region: oregon

  # Flask Web Service
  - type: web
    name: smart-airbnb
    env: python
    region: oregon
    plan: free
    branch: main
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: smart-airbnb-db
          property: connectionString
      - key: PYTHON_VERSION
        value: 3.11.0
